// Stile, die spezifisch für das Layout der Einstellungsseite sind
.settings-page-container {
  padding: 20px;
}

.control-row {
  width: 100%;
}

.separator {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 20px 0;
}

.action-buttons-row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.description {
  color: var(--text-color-muted);
  margin-bottom: 20px;
}



.theme-card {

  width: 100%;
  margin: 0 0 20px 0;
  padding: 20px;
  

  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}

.card-title {
  font-size: 1.4rem;
  color: var(--primary-color); 
  margin: 0;
}

.card-content {
  margin-bottom: 15px;
  line-height: 1.5;
}

.card-footer {
  font-size: 0.9rem;
  color: var(--text-color-muted);
}

